body{
    font-family: 'Nanum Gothic', sans-serif;
}
.content{
    width:900px;
    margin:0 auto;
}

.menu, .category{
    text-align:center;
}

.ex_category {
    margin:5px;
    border-radius:8px;
    padding:2px 5px;
    background-color: white;
	color: black;
    border:1px solid #7B96AB;
	box-shadow: rgb(255, 255, 255) 0 0px 0px 2px inset;
}

.ex_category:hover {
    color: rgba(255, 255, 255, 0.85);
	box-shadow: #7B96AB 0 0px 0px 40px inset;
}

