<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>식단 등록 페이지</title>
<!--        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->
        <link href="../static/postMeal.css" rel="stylesheet" type="text/css" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

        <script>
            var recipeCtg;

            // 라디오 버튼 클릭 시 속성
            $(document).ready(function(){
                $(".setDuration input:radio[name='recipeCtg']").change(function () {
                    recipeCtg = $(this).val();

                    console.log(recipeCtg);
                    if (recipeCtg == 'week') {
                        $('.oneday_container').css("display", "none");
                        $('.week_container').css("display", "block");

                    } else {
                        $('.week_container').css("display", "none");
                        $('.oneday_container').css("display", "block");
                    }
                });
            });

            function getRealPath(obj){
                obj.select();

                document.body.createRange().text.toString(); //이게 실행이 안된다면....
                // document.selection.createRangeCollection()[0].text.toString(); //이걸로....
                document.upimage.real_path.value = document.selection.createRangeCollection()[0].text.toString();

            }

            function postOneday(){
                let dietname = $('#diet').val();
                let breakfast = $('#breakfast').val();
                let lunch = $('#lunch').val();
                let dinner = $('#dinner').val();

                $.ajax({
                    type: 'POST',
                    url: "/api/postOneday",
                    data: {
                        'dietname_send': dietname,
                        'breakfast_send': breakfast,
                        'lunch_send': lunch,
                        'dinner_send': dinner
                    },
                    success: function (response) {
                        if(response['result']=='success') {
                            alert('식단 등록이 완료되었습니다')
                            window.location.href='/recipe'
                        }
                    }
                });
            }

            function postWeek(){
                let dietname = $('#week_diet').val();

                let breakfast = $('#breakfast').val();
                let lunch = $('#lunch').val();
                let dinner = $('#dinner').val();

                $.ajax({
                    type: 'POST',
                    url: "/api/postOneday",
                    data: {
                        'dietname_send': dietname,
                        'breakfast_send': breakfast,
                        'lunch_send': lunch,
                        'dinner_send': dinner
                    },
                    success: function (response) {
                        if(response['result']=='success') {
                            alert('식단 등록이 완료되었습니다')
                            window.location.href='/recipe'
                        }
                    }
                });
            }
        </script>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/"><img src="./static/logo.png" style="width:90px;height:70px;padding-bottom:5px;"></a>
            </div>
        </header>
        <div class="content">
            <div class="menu">
                <h1>식단 등록</h1>
            </div>
        </div>

        <div class="option">
            <div class="setDuration">
                <input type="radio" name="recipeCtg" value="week">일주일 식단
                <input type="radio" name="recipeCtg" value="oneday">원데이 식단
            </div>

            <div class="oneday_container" style="display:none;">
                <form id="oneday">
                    <div class="group">
                        <input type="text" class="input_id" id="diet" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>다이어트 이름</label>
                    </div>

                    <div class="group">
                        <input type="text" class="input_id" id="breakfast"required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>아침</label>
                    </div>

                    <div class="group">
                        <input type="text" class="input_id" id="lunch"required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>점심</label>
                    </div>

                    <div class="group">
                        <input type="text" class="input_id" id="dinner"required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>저녁</label>
                    </div>

<!--                    <input type="file" id="uploadInput" name="uploadInput" onchange="javascript:getRealPath(this);">-->
<!--                    <input type="hidden" id="real_path" name="real_path" value=""/>-->
                </form>
                <br>
                <button onclick="postOneday()">등록</button>
            </div>

            <div class="week_container" style="display:none;">
                <form id="week">
                    <div class="group">
                        <input type="text" class="input_id" id="week_diet" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>다이어트 이름</label>
                    </div>

                    {% for i in range(7) %}
                        <div class="group">
                            <input type="text" class="input_id" id="{{i+1}}_breakfast"required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{i+1}}일차 아침</label>
                        </div>

                        <div class="group">
                            <input type="text" class="input_id" id="{{i+1}}_lunch"required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{i+1}}일차 점심</label>
                        </div>

                        <div class="group">
                            <input type="text" class="input_id" id="{{i+1}}_first_dinner"required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>{{i+1}}일차 저녁</label>
                        </div>
                    {% endfor %}
                </form>
                <button onclick="postWeek()">등록</button>

            </div>
        </div>
    </body>
</html>