<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>식단 등록 페이지</title>
<!--        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>-->

        <link href="../static/postMate.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

        <script>
            function postMate(){
                let title=$('#title').val();
                let category=$('#category').val();
                let gender=$('#gender').val();
                let age=$('#age').val();
                let num = $('#peopleNum').val();
                let startDate = $('#startDate').val();
                let dueDate=$('#dueDate').val();
                let detail=$('#detail').val();

                $.ajax({
                    type: 'POST',
                    url: "/api/postMate",
                    data: {
                        'title_send':title,
                        'category_send':category,
                        'gender_send':gender,
                        'age_send':age,
                        'num_send':num,
                        'start_send':startDate,
                        'due_send':dueDate,
                        'detail_send':detail
                    },
                    success: function (response) {
                        if(response['result']=='success') {
                            alert('글 등록이 완료되었습니다')
                            window.location.href='/mate'
                        }
                    }
                });
            }
        </script>
    </head>
    <body>
        <div class="content">
            <div class="menu">
                <h1>식단 등록 페이지</h1>
            </div>

            <div >
                <div class="setDuration">
                    <input type="radio" name="address" value="week">일주일 식단
                    <input type="radio" name="address" value="oneday">원데이 식단
                </div>
            </div>
        </div>
    </body>
</html>